<%= form_for @message,  html: { class: 'form-horizontal'} do |form| %>
  
    <% if @message.errors.present? %>
      <div class="alert alert-danger">
        <%= alert %>
        <ul>
          <% @message.errors.full_messages.each do |full_message| %>
            <li>
              <%= full_message %>
            </li>
          <% end %> 
        </ul>
      </div>
    <% end %>
 
    <div class="form-group"> 
        <%= form.label :"名前：", class: "col-sm-3 control-label", for: "name" %>
        <div class="col-sm-7">
            <%= form.text_field :name, class: "form-control", id: "name" %>
        </div>
    </div>
    
    <div class="form-group"> 
        <%= form.label :"年齢：", class: "col-sm-3 control-label", for: "age" %>
        <div class="col-sm-7">
            <%= form.text_field :age, class: "form-control", id: "age"  %>
        </div>
    </div>
  
    <div class="form-group"> 
        <%= form.label :"コメント：", class: "col-sm-3 control-label", for: "comment" %>
        <div class="col-sm-7">
            <%= form.text_area :body, class: "form-control", id: "comment", rows: "6", placeholder: "コメントを記入してください" %>
        </div>
    </div>
  
    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-10">
            <%= form.submit "送信", class: "btn btn-primary" %>
        </div>
    </div>
<% end %>
